**/*.swp
**/*.swo
**/*~

**/__pycache__/*
**/.mypy_cache/**

dist/**
build/**
*egg-info/**

**/*.sqlite
config.yml
logs/**
db/**
cache/**
*.txt
*.yml
*.exe

tests/manual/**

**/_version.py

.vscode/**
.idea/**
