**/*.swp
**/*.swo
**/*~

.vscode/**
.idea/**

**/__pycache__/*
**/.mypy_cache/**

dist/**
build/**
avtdl.egg-info/**
avtdl.spec

**/*.sqlite
logs/**
db/**
cache/**

*.yml
*.yml.[0-9]
*.yml.10

*.txt
*.exe

tests/manual/**

**/_version.py
