pydantic>=2.7.0
aiohttp>=3.9,<3.10,;sys_platform == 'win32'
aiohttp>=3.9;sys_platform != 'win32'
multidict
feedparser
python-dateutil
slixmpp==1.8.6
lxml
ruamel.yaml>=0.15
Markdown
jsonpath-python==1.0.6