<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>view — avtdl</title>
        <link rel="stylesheet" href="/ui/conf/styles.css" />
        <link rel="stylesheet" href="styles.css" />
    </head>
    <body>
        <header>
            <nav>
                <a href="/ui/conf/config.html">Config</a>
                <a href="/ui/info/info.html">Info</a>
                <a href="/ui/view/view.html" class="active">View</a>
            </nav>
        </header>

        <div id="main">
            <div id="message-area"></div>
            <div id="sidebar"></div>
            <div id="output">Loading data...</div>
        </div>
        <script src="/ui/conf/utils.js"></script>
        <script src="/ui/conf/navigation.js"></script>
        <script src="gallery.js"></script>
        <script src="view.js"></script>
    </body>
</html>
